[req]
distinguished_name = server 
prompt = no
req_extensions = v3_req

[server]
C = DE
ST = Test
L = Test
O = Test 
OU = Test 
CN = brain.home.test 

[v3_req]
basicConstraints = critical, CA:FALSE
subjectKeyIdentifier = hash
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage = critical, serverAuth
subjectAltName = @alt_names

[alt_names]  
DNS.1 = brain.home.test 
IP.1 = 10.45.45.10 
IP.2 = 127.0.0.1